.color1 {
    background-color: red;
    color: blue;
}
.color2 {
    background-color: yellow;
    color: black;
}

.color3 {
    background-color: blue;
    color: red;
}

.color4 {
    background-color: green;
    color: yellow;
}

.color5 {
    background-color: pink;
    color: purple;
}

.color6 {
    background-color: lightblue;
    color: greenyellow;
}